{namespace shared}

/**
 * Default page footer for boats.
 */
{template .footer}

	</div>
			    
			    <div class="clear"></div>
			</div>
		</div>	
	</div>
	
	
	<div class="clear"></div>
	
	        </div>
	        
	        <div id="page-footer">Example developed by <a href="https://github.com/codedance">codedance</a></div> 
	    </body>
	</html>

{/template}