{namespace playground.time}

/**
 * Display the time.
 * @param time The current time as a string.
 */
{template .TimeDisplay}
	<html>
	<body>
	
		<h1>The time now is: </h1>
		<p>{$time}</p>
	
	</body>
	</html>
{/template}